<!DOCTYPE html>
<html lang="en">
    <%- include("../layouts/head.ejs", {tit: "Page is under construction!"}) %>
    <body>
        <div>
            <div>
                <img src="assets/construction-cat.png" alt="" />
            </div>
            <section>
                <h1>Hi, this page is underconstruction!</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, sapiente?</p>
                <button>Click here to head back!</button>
            </section>
        </div>
    </body>
</html>
